/ TODO - figure this out
div data-hook="charge" class="field"
  == label_tag :payment_method_charge, Spree.t(:charge)
  == number_field_tag :'payment_method[charge]', @payment_method.charge,  class: 'fullwidth'
